@import url(https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css);
* {
  padding: 0;
  margin: 0;
  border: 0; }
  *, *:before, *:after {
    box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }
  button::-moz-focus-inner {
    padding: 0;
    border: 0; }

a,
a:visited {
  text-decoration: none; }
  a:hover,
  a:visited:hover {
    text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit; }

a {
  color: inherit; }

@font-face {
  font-family: 'TT Lakes';
  font-weight: 400;
  font-style: normal;
  src: url(./fonts/TTLakes-Regular.ttf) format("truetype"), url(./fonts/TTLakes-Regular.woff) format("woff"), url(./fonts/TTLakes-Medium.ttf) format("truetype"), url(./fonts/TTLakes-Medium.woff) format("woff"), url(./fonts/TTLakes-Black.ttf) format("truetype"), url(./fonts/TTLakes-Bold.woff) format("woff"); }

@media (min-width: 0px) and (max-width: 767px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 768px;
    min-width: 320px;
    position: relative;
    overflow: hidden; } }

@media (min-width: 767px) and (max-width: 1439px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1439px;
    min-height: 100%;
    position: relative;
    overflow: hidden; } }

@media (min-width: 1440px) {
  .container {
    margin: 0 auto;
    max-width: 1440px;
    min-height: 100%;
    position: relative;
    overflow: hidden;
    padding-left: 320px; } }

body {
  background-color: #F8F8F8; }

.side-bar {
  display: block;
  width: 320px;
  position: absolute;
  z-index: 2;
  background-color: #ffffff; }
  @media (min-width: 0px) and (max-width: 767px) {
    .side-bar {
      box-shadow: none;
      height: 100vh;
      left: -360px;
      box-shadow: 5px 0 30px 0 #1b1c215f;
      transition: 1s;
      position: fixed;
      z-index: 1000; } }
  @media (min-width: 767px) and (max-width: 1439px) {
    .side-bar {
      position: fixed;
      box-shadow: none;
      height: 100vh;
      left: -360px;
      box-shadow: 5px 0 30px 0 #1b1c215f;
      transition: all 1s; } }
  @media (min-width: 1440px) {
    .side-bar {
      box-shadow: none;
      min-height: 100%;
      left: 0px;
      position: absolute;
      z-index: 1000; } }

.side-header {
  height: 88px;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 16px;
  padding: 16px; }
  @media (min-width: 1440px) {
    .side-header {
      padding: 32px; } }
  .side-header__logo {
    margin-right: auto;
    transition: 0.3s; }
  .side-header__logo:hover {
    opacity: 0.7;
    scale: 0.97; }

.side-button {
  width: 40px;
  height: 40px;
  background-color: #FF3E79;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s; }
  @media (min-width: 1440px) {
    .side-button--close {
      display: none !important; }
    .side-button--search {
      margin: 0 !important; } }
  .side-button--close {
    background: url(./static/close.svg) no-repeat 50% 50%;
    background-color: #FF3E79; }
  .side-button--search {
    background: url(./static/search-side.svg) no-repeat 50% 50%;
    background-color: #FF3E79; }

.side-navigation {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px; }
  .side-navigation__item {
    font-family: 'TT Lakes';
    font-size: 16px;
    color: #1B1C21;
    font-weight: 500;
    transition: 0.5s;
    height: 32px; }
    .side-navigation__item:hover {
      color: #7E7E82; }
    .side-navigation__item:focus {
      color: #7E7E82; }
    .side-navigation__item:focus::before {
      content: "";
      display: inline-block;
      height: 32px;
      width: 4px;
      background-color: #41F6D7;
      position: absolute;
      left: 0;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
      margin-top: -9px; }

.header-icon {
  display: block;
  background-color: #FF3E79;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transition: 0.5s; }
  @media (min-width: 1440px) {
    .header-icon {
      margin-left: 8px; } }
  .header-icon--phone {
    background: url(./static/phone.svg) no-repeat 50% 50%, #FF3E79; }
  .header-icon--message {
    background: url(./static/message.svg) no-repeat 50% 50%, #FF3E79; }
  .header-icon--contact {
    background: url(./static/contact.svg) no-repeat 50% 50%, #FF3E79; }
  .header-icon--burger {
    background: url(./static/burger.svg) no-repeat 50% 50%, #FF3E79; }
  .header-icon--key {
    background: url(./static/key.svg) no-repeat 50% 50%, #FF3E79; }
  .header-icon--search {
    background: url(./static/search.svg) no-repeat 50% 50%, #FF3E79; }
  .header-icon:hover {
    opacity: 0.5;
    scale: 0.97; }

.side-footer {
  position: absolute;
  margin-left: 16px; }
  @media (min-width: 0px) and (max-width: 767px) {
    .side-footer {
      position: absolute;
      bottom: 0;
      margin-left: 16px; } }
  @media (min-width: 767px) and (max-width: 1439px) {
    .side-footer {
      position: absolute;
      bottom: 0;
      margin-left: 16px; } }
  @media (min-width: 1440px) {
    .side-footer {
      position: absolute;
      top: 727px;
      margin-left: 16px; } }
  .side-footer__mail {
    display: block;
    margin-top: 16px;
    font-family: 'TT Lakes';
    color: #1B1C21; }
  .side-footer__phone {
    display: block;
    margin-top: 12px;
    font-family: 'TT Lakes';
    color: #1B1C21;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px; }

.bottom-icons {
  display: flex;
  gap: 16px; }

.length-switch__item {
  display: inline-block;
  margin-bottom: 32px;
  font-family: 'TT Lakes';
  color: #1B1C21;
  font-weight: normal;
  transition: 0.5s; }

.length-switch__item--active {
  color: #7E7E82; }

@media (min-width: 0px) and (max-width: 767px) {
  .modal {
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    height: 100vh;
    width: 320px;
    position: fixed;
    top: 0px;
    z-index: 2;
    background-color: #FFFFFF;
    font-family: "TT Lakes";
    color: #1B1C21; }
    .modal--call {
      display: block;
      right: -320px;
      transition: all 1s; }
    .modal--feedback {
      display: block;
      right: -320px;
      transition: all 1s; } }

@media (min-width: 767px) and (max-width: 1439px) {
  .modal {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 40px 24px 32px 32px;
    width: 440px;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 2;
    background-color: #FFFFFF;
    font-family: "TT Lakes";
    color: #1B1C21;
    transition: all 1s; }
    .modal--call {
      right: -540px; }
    .modal--feedback {
      right: -540px; } }

@media (min-width: 1440px) {
  .modal {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 40px 24px 32px 32px;
    width: 440px;
    position: fixed;
    top: 0vh;
    right: -540px;
    z-index: 2;
    background-color: #FFFFFF;
    font-family: "TT Lakes";
    color: #1B1C21;
    transition: all 1s; } }

.feedback__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url(./static/close.svg) no-repeat 50% 50%;
  background-color: #FF3E79;
  transition: 0.5s; }

.feedback__icon:hover {
  opacity: 0.5;
  scale: 0.97; }

.feedback__button {
  transition: 0.5s; }

.feedback__button:hover {
  opacity: 0.5;
  scale: 0.97; }

@media (min-width: 0px) and (max-width: 767px) {
  .feedback__icon--close {
    margin-bottom: 40px; }
  .feedback__label {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 16px; }
  .feedback__title {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: bold; }
  .feedback__title::before {
    content: '';
    display: inline-block;
    height: 40px;
    width: 4px;
    background-color: #41F6D7;
    position: absolute;
    left: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top: -10px; }
  .feedback__button {
    color: #ffffff;
    background: #FF3E79;
    font-size: 12px;
    padding: 4px;
    padding-left: 14px;
    width: 136px;
    height: 32px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    align-self: flex-end; }
  .feedback__icon--dropdown {
    height: 24px;
    width: 24px;
    background: #FF3E79;
    background: url(./static/dropdown.svg) no-repeat 50% 50%; } }

@media (min-width: 767px) and (max-width: 1439px) {
  .feedback__icon--close {
    z-index: 3;
    position: absolute;
    top: 32px;
    left: -64px; }
  .feedback__label {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 16px; }
  .feedback__title {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: bold; }
  .feedback__title::before {
    content: '';
    display: inline-block;
    height: 40px;
    width: 4px;
    background-color: #41F6D7;
    position: absolute;
    left: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top: -10px; }
  .feedback__button {
    color: #ffffff;
    background: #FF3E79;
    font-size: 12px;
    padding: 4px;
    padding-left: 14px;
    width: 136px;
    height: 32px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    align-self: flex-end; }
  .feedback__icon--dropdown {
    height: 24px;
    width: 24px;
    background: #FF3E79;
    background: url(./static/dropdown.svg) no-repeat 50% 50%; } }

@media (min-width: 1440px) {
  .feedback__icon--close {
    z-index: 3;
    position: absolute;
    top: 32px;
    left: -64px; }
  .feedback__label {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 16px; }
  .feedback__title {
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: bold; }
  .feedback__title::before {
    content: '';
    display: inline-block;
    height: 40px;
    width: 4px;
    background-color: #41F6D7;
    position: absolute;
    left: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-top: -10px; }
  .feedback__button {
    color: #ffffff;
    background: #FF3E79;
    font-size: 12px;
    padding: 4px;
    padding-left: 14px;
    width: 136px;
    height: 32px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
    align-self: flex-end; }
  .feedback__icon--dropdown {
    height: 24px;
    width: 24px;
    background: #FF3E79;
    background: url(./static/dropdown.svg) no-repeat 50% 50%; } }

.feedback-form__item {
  height: 48px;
  gap: 16px;
  width: 100%;
  border: 1px solid #EAEAEA;
  border-radius: 8px;
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 12px 16px;
  position: relative;
  text-wrap: wrap; }

.feedback-form__item::-webkit-input-placeholder {
  position: absolute;
  top: 12px;
  left: 16px;
  color: #B5B6BC;
  font-weight: 400;
  line-height: 24px; }

.feedback-form__item::-moz-placeholder {
  position: absolute;
  top: 12px;
  left: 16px;
  color: #B5B6BC;
  font-weight: 400;
  line-height: 24px; }

.feedback-form__item:-ms-input-placeholder {
  position: absolute;
  top: 12px;
  left: 16px;
  color: #B5B6BC;
  font-weight: 400;
  line-height: 24px; }

.feedback-form__item::placeholder {
  position: absolute;
  top: 12px;
  left: 16px;
  color: #B5B6BC;
  font-weight: 400;
  line-height: 24px; }

.feedback-form__item--message {
  height: 118px; }

.feedback-form__desc {
  line-height: 16px;
  font-size: 14px;
  font-weight: 500;
  color: #7E7E82; }

.feedback-form__link {
  color: #FF3E79; }

.content-container {
  transition: 1s; }

@media (min-width: 0px) and (max-width: 767px) {
  .header {
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D9FFF5;
    padding-left: 16px;
    padding-right: 16px;
    border-bottom: 1px solid #D9FFF5;
    margin-bottom: 24px;
    background-color: #FFFFFF; }
    .header__decor {
      width: 2px;
      height: 32px;
      background-color: #EAEAEA;
      margin-right: 16px;
      display: none; }
    .header__decor--mob {
      display: block; } }

@media (min-width: 767px) and (max-width: 1439px) {
  .header {
    height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #D9FFF5;
    padding-left: 24px;
    padding-right: 24px;
    border-bottom: 1px solid #D9FFF5;
    margin-bottom: 24px;
    background-color: #FFFFFF; }
    .header__decor {
      width: 2px;
      height: 32px;
      background-color: #EAEAEA; } }

@media (min-width: 1440px) {
  .header {
    display: none; }
    .header__logo {
      margin-right: 250px; }
    .header__decor {
      width: 2px;
      height: 32px;
      background-color: #EAEAEA;
      border-radius: 1px; } }

.menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center; }

.menu-container {
  display: flex;
  align-items: center;
  gap: 0 16px; }

@media (min-width: 0px) and (max-width: 767px) {
  .mob-container {
    display: none; } }

@media (min-width: 767px) and (max-width: 1439px) {
  .mob-container {
    display: flex;
    gap: 16px; } }

@media (min-width: 0px) and (max-width: 767px) {
  .title {
    height: 40px;
    display: flex;
    align-items: center;
    position: relative; }
    .title__decor {
      position: absolute;
      left: 0;
      top: -2px;
      background: url(./static/highlight.svg);
      height: 40px;
      width: 4px; }
    .title__content {
      font-family: 'TT Lakes';
      font-weight: bold;
      font-style: normal;
      font-size: 28px;
      margin-left: 16px;
      color: #1B1C21; } }

@media (min-width: 767px) and (max-width: 1439px) {
  .title {
    height: 40px;
    width: 768px;
    display: flex;
    align-items: center;
    position: relative;
    justify-self: center; }
    .title__decor {
      position: absolute;
      left: 0;
      top: -2px;
      background: url(./static/highlight.svg);
      height: 40px;
      width: 4px; }
    .title__content {
      font-family: 'TT Lakes';
      font-weight: bold;
      font-style: normal;
      font-size: 28px;
      margin-left: 20px;
      color: #1B1C21; } }

@media (min-width: 1440px) {
  .title {
    top: 42px;
    margin-bottom: 42px;
    height: 40px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding-right: 32px; }
    .title__decor {
      position: absolute;
      left: 0;
      top: -2px;
      background: url(./static/highlight.svg);
      height: 40px;
      width: 4px; }
    .title__content {
      font-family: 'TT Lakes';
      font-weight: bold;
      font-style: normal;
      font-size: 28px;
      margin-left: 32px;
      color: #1B1C21;
      line-height: 40px; } }

.buttons-wrap__item {
  transition: 0.3s; }

.buttons-wrap__item:hover {
  opacity: 0.7;
  transform: scale(0.95); }

@media (min-width: 0px) and (max-width: 767px) {
  .buttons-wrap {
    display: none; } }

@media (min-width: 767px) and (max-width: 1439px) {
  .buttons-wrap {
    display: none; } }

@media (min-width: 1440px) {
  .buttons-wrap {
    display: flex;
    gap: 0 32px; }
    .buttons-wrap__item {
      display: flex;
      align-items: center;
      color: #1B1C21;
      font-family: 'TT Lakes';
      font-weight: medium; } }

@media (min-width: 0px) and (max-width: 767px) {
  .nav-wrap {
    position: relative; }
    .nav-wrap::before {
      opacity: 0.99;
      content: '';
      display: block;
      position: absolute;
      height: 81px;
      width: 24px;
      right: 0px;
      z-index: 1;
      background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%); }
    .nav-wrap::after {
      opacity: 0.99;
      content: '';
      display: block;
      position: absolute;
      height: 81px;
      width: 24px;
      top: 0px;
      left: 0px;
      z-index: 1;
      background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
      transform: rotate(180deg); } }

@media (min-width: 767px) and (max-width: 1439px) {
  .nav-wrap {
    position: relative; }
    .nav-wrap::before {
      opacity: 0.99;
      content: '';
      display: block;
      position: absolute;
      height: 81px;
      width: 24px;
      right: 0px;
      z-index: 1;
      background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%); }
    .nav-wrap::after {
      opacity: 0.99;
      content: '';
      display: block;
      position: absolute;
      height: 81px;
      width: 24px;
      top: 0px;
      left: 0px;
      z-index: 1;
      background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
      transform: rotate(180deg); } }

@media (min-width: 0px) and (max-width: 767px) {
  .navbar {
    display: flex;
    overflow-x: scroll;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    padding-right: 0;
    padding-top: 24px;
    padding-left: 16px;
    padding-bottom: 2px; }
    .navbar::-webkit-scrollbar {
      display: none; }
    .navbar::-moz-scrollbar {
      display: none; }
    .navbar::-ms-scrollbar {
      display: none; }
    .navbar::-o-scrollbar {
      display: none; } }

@media (min-width: 767px) and (max-width: 1439px) {
  .navbar {
    display: flex;
    overflow-x: scroll;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    position: relative;
    padding-right: 0;
    padding-top: 32px;
    padding-left: 16px;
    padding-bottom: 32px;
    width: 768px;
    justify-self: center; }
    .navbar::-webkit-scrollbar {
      display: none; }
    .navbar::-moz-scrollbar {
      display: none; }
    .navbar::-ms-scrollbar {
      display: none; }
    .navbar::-o-scrollbar {
      display: none; } }

@media (min-width: 1440px) {
  .navbar {
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    padding-right: 32px;
    padding-top: 8px;
    padding-left: 32px;
    padding-bottom: 8px; } }

@media (min-width: 0px) and (max-width: 767px) {
  .navbar-block {
    height: 40px;
    padding: 10px;
    display: flex;
    white-space: nowrap;
    align-items: center;
    box-sizing: border-box;
    margin-left: 2px; }
    .navbar-block:focus {
      outline: 2px solid #b8ffec;
      border-radius: 6px;
      background-color: #ffffff; }
    .navbar-block__text {
      color: #7E7E82;
      font-family: 'TT Lakes';
      font-style: medium; } }

@media (min-width: 767px) and (max-width: 1439px) {
  .navbar-block {
    height: 40px;
    padding: 10px;
    display: flex;
    white-space: nowrap;
    align-items: center;
    box-sizing: border-box;
    margin-left: 2px; }
    .navbar-block:focus {
      outline: 2px solid #b8ffec;
      border-radius: 6px;
      background-color: #ffffff; }
    .navbar-block__text {
      color: #7E7E82;
      font-family: 'TT Lakes';
      font-style: medium; } }

@media (min-width: 1440px) {
  .navbar-block {
    padding: 12px;
    display: flex;
    white-space: nowrap;
    align-items: center;
    box-sizing: border-box;
    margin-left: 2px;
    margin-top: 2px; }
    .navbar-block:focus {
      outline: 2px solid #b8ffec;
      border-radius: 6px;
      background-color: #ffffff; }
    .navbar-block__text {
      color: #7E7E82;
      font-family: 'TT Lakes';
      font-weight: 400; } }

@media (min-width: 0px) and (max-width: 767px) {
  .main-wrapper {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 24px;
    margin-top: 24px; } }

@media (min-width: 767px) and (max-width: 1439px) {
  .main-wrapper {
    padding-left: 24px;
    padding-right: 40px;
    padding-bottom: 24px;
    width: 768px;
    justify-self: center; } }

@media (min-width: 1440px) {
  .main-wrapper {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 24px;
    margin-top: 8px; } }

@media (min-width: 0px) and (max-width: 767px) {
  .company {
    margin-top: 24px; }
    .company__desc {
      font-family: 'TT Lakes';
      font-size: 14px;
      line-height: 18px;
      display: flex;
      flex-direction: column;
      color: #1B1C21; }
    .company__text {
      display: flex;
      flex-direction: column;
      gap: 16px 0px;
      margin-bottom: 16px;
      color: #1B1C21; }
    .company__image {
      width: 100%;
      height: 176px;
      object-fit: cover; } }

@media (min-width: 767px) and (max-width: 1439px) {
  .company {
    display: flex;
    justify-content: space-between;
    position: relative; }
    .company__desc {
      font-family: 'TT Lakes';
      font-size: 14px;
      line-height: 20px;
      width: 100%;
      display: flex;
      gap: 28px;
      color: #1B1C21; }
    .company__text {
      width: 50%;
      display: flex;
      flex-direction: column;
      gap: 16px; }
    .company__image {
      height: 208px;
      border-radius: 6px;
      width: 50%;
      display: block;
      top: 0;
      object-fit: cover; } }

@media (min-width: 1440px) {
  .company {
    display: flex;
    justify-content: space-between; }
    .company__desc {
      font-family: 'TT Lakes';
      font-size: 14px;
      line-height: 20px;
      width: 100%;
      display: flex;
      gap: 36px; }
    .company__text {
      width: 50%;
      padding-top: 9.22px;
      display: flex;
      flex-direction: column;
      gap: 16px; }
    .company__image {
      border-radius: 6px;
      height: 307px;
      width: 50%;
      display: block;
      object-fit: cover; } }

@media (min-width: 0px) and (max-width: 767px) {
  .text {
    max-height: 90px;
    overflow: hidden; } }

@media (min-width: 767px) and (max-width: 1439px) {
  .text {
    max-height: 140px;
    overflow: hidden; } }

@media (min-width: 1440px) {
  .text {
    max-height: 140px;
    overflow: hidden; } }

.read-me {
  transition: 0.5s; }
  .read-me:hover {
    opacity: 0.5;
    scale: 0.97; }
  @media (min-width: 0px) and (max-width: 767px) {
    .read-me {
      display: flex;
      height: 24px;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      align-items: center;
      color: #1B1C21;
      font-family: 'TT Lakes';
      font-weight: bold;
      background-color: #F8F8F8;
      transition: 0.5s; }
      .read-me__icon {
        background: url(./static/expand.svg) no-repeat 50% 50%;
        width: 24px;
        height: 24px;
        margin-right: 8px;
        transform: rotate(0deg); }
      .read-me--down {
        transform: rotate(180deg); } }
  @media (min-width: 767px) and (max-width: 1439px) {
    .read-me {
      display: inline-flex;
      height: 24px;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      align-items: center;
      background-color: #F8F8F8;
      font-weight: bold; }
      .read-me__icon {
        background: url(./static/expand.svg) no-repeat 50% 50%;
        width: 24px;
        height: 24px;
        margin-right: 8px;
        transition: 0.5s;
        transform: rotate(0deg); }
      .read-me--down {
        transform: rotate(180deg); } }
  @media (min-width: 1440px) {
    .read-me {
      display: inline-flex;
      height: 24px;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      align-items: center;
      background-color: #F8F8F8;
      font-weight: bold; }
      .read-me__icon {
        background: url(./static/expand.svg) no-repeat 50% 50%;
        width: 24px;
        height: 24px;
        margin-right: 8px;
        transition: 0.5s;
        transform: rotate(0deg); }
      .read-me--down {
        transform: rotate(180deg); } }

@media (min-width: 0px) and (max-width: 767px) {
  .brands-header {
    max-height: 80px;
    width: 100%;
    padding: 16px;
    border-top: 1px solid #D9FFF5;
    background: linear-gradient(to right, #F8F8F8, #FFFFFF);
    font-family: 'TT lakes'; }
    .brands-header__title {
      font-size: 16px;
      line-height: 24px;
      color: #7E7E82;
      font-weight: 400;
      min-width: 288px; } }

@media (min-width: 767px) and (max-width: 1439px) {
  .brands-header {
    height: 56px;
    width: 100%;
    padding: 16px 24px;
    border-top: 1px solid #D9FFF5;
    background: linear-gradient(to right, #F8F8F8, #FFFFFF);
    font-family: 'TT lakes'; }
    .brands-header__title {
      font-size: 16px;
      line-height: 24px;
      color: #7E7E82;
      font-weight: 400;
      min-width: 288px;
      width: 768px;
      justify-self: center;
      margin-left: 24px; } }

@media (min-width: 1440px) {
  .brands-header {
    height: 56px;
    width: 100%;
    padding: 16px 32px;
    border-top: 1px solid #D9FFF5;
    background: linear-gradient(to right, #F8F8F8, #FFFFFF);
    font-family: 'TT lakes'; }
    .brands-header__title {
      font-size: 16px;
      line-height: 24px;
      color: #7E7E82;
      font-weight: 400;
      min-width: 288px; } }

@media (min-width: 0px) and (max-width: 767px) {
  .brand-container {
    padding: 16px 0px;
    min-width: 0; } }

@media (min-width: 767px) and (max-width: 1439px) {
  .brand-container {
    padding: 24px;
    width: 768px;
    display: flex;
    flex-direction: column;
    justify-self: center; } }

@media (min-width: 1440px) {
  .brand-container {
    padding: 32px;
    width: 1120px;
    display: flex;
    flex-direction: column;
    justify-self: center; } }

@media (min-width: 0px) and (max-width: 767px) {
  .brand-list {
    display: none; }
    .brand-list__item {
      width: 224px;
      height: 72px;
      border: 1px solid #EAEAEA;
      border-radius: 6px;
      background-color: #FFFFFF; } }

@media (min-width: 767px) and (max-width: 1439px) {
  .brand-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 21px;
    overflow: hidden;
    height: 162px; }
    .brand-list__item {
      width: 224px;
      height: 72px;
      border: 1px solid #EAEAEA;
      border-radius: 6px;
      background-color: #FFFFFF; } }

@media (min-width: 1440px) {
  .brand-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 30px;
    overflow: hidden;
    height: 162px; }
    .brand-list__item {
      width: 240px;
      height: 72px;
      border: 1px solid #EAEAEA;
      border-radius: 6px;
      background-color: #FFFFFF; } }

@media (min-width: 0px) and (max-width: 767px) {
  .list-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px; }
    .list-content__logo {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      left: 0; }
    .list-content__logo-apple {
      margin-top: -5px; } }

@media (min-width: 767px) and (max-width: 1439px) {
  .list-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px; }
    .list-content__logo {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      left: 0; }
    .list-content__logo-apple {
      margin-top: -8px; } }

@media (min-width: 1440px) {
  .list-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px; }
    .list-content__logo {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      left: 0; }
    .list-content__logo-apple {
      margin-top: -8px; } }

.list-icon {
  transition: 0.5s; }
  .list-icon:hover {
    opacity: 0.5;
    scale: 0.97; }
  @media (min-width: 0px) and (max-width: 767px) {
    .list-icon {
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: url(./static/rightArrow.svg) no-repeat 50% 50%;
      border: 2px solid #FF3E79; }
      .list-icon--devices {
        align-self: flex-end;
        justify-self: flex-end; } }
  @media (min-width: 767px) and (max-width: 1439px) {
    .list-icon {
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: url(./static/rightArrow.svg) no-repeat 50% 50%;
      border: 2px solid #FF3E79; }
      .list-icon--devices {
        align-self: flex-end;
        justify-self: flex-end; } }
  @media (min-width: 1440px) {
    .list-icon {
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: url(./static/rightArrow.svg) no-repeat 50% 50%;
      border: 2px solid #FF3E79; }
      .list-icon--devices {
        align-self: flex-end;
        justify-self: flex-end; } }

.brand-button {
  transition: 0.5s; }
  .brand-button:hover {
    opacity: 0.5;
    scale: 0.97; }
  @media (min-width: 0px) and (max-width: 767px) {
    .brand-button {
      display: none; } }
  @media (min-width: 767px) and (max-width: 1439px) {
    .brand-button {
      color: #1B1C21;
      font-family: 'TT Lakes';
      font-weight: bold;
      font-size: 16px;
      display: block;
      padding-top: 24px;
      max-width: -webkit-max-content;
      max-width: -moz-max-content;
      max-width: max-content; }
      .brand-button__arrow {
        transition: 0.3s;
        background: url(./static/expand.svg) no-repeat;
        width: 24px;
        height: 24px;
        margin-right: 8px; }
      .brand-button__arrow--down {
        transform: rotate(180deg); } }
  @media (min-width: 1440px) {
    .brand-button {
      color: #1B1C21;
      font-family: 'TT Lakes';
      font-weight: bold;
      font-size: 16px;
      display: block;
      padding-top: 24px;
      max-width: -webkit-max-content;
      max-width: -moz-max-content;
      max-width: max-content; }
      .brand-button__arrow {
        transition: 0.3s;
        background: url(./static/expand.svg) no-repeat;
        width: 24px;
        height: 24px; }
      .brand-button__arrow--down {
        transform: rotate(180deg); } }

.brand-icon {
  display: flex;
  justify-content: start;
  align-items: center; }

@media (min-width: 0px) and (max-width: 767px) {
  .swiper {
    position: relative; }
    .swiper::before {
      content: '';
      display: block;
      position: absolute;
      height: 81px;
      width: 24px;
      top: -5px;
      right: 0;
      z-index: 2;
      background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%); }
    .swiper::after {
      content: '';
      display: block;
      position: absolute;
      height: 81px;
      width: 24px;
      top: -5px;
      transform: rotate(180deg);
      left: 0;
      z-index: 2;
      background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%); } }

@media (min-width: 767px) and (max-width: 1439px) {
  .swiper {
    display: none; } }

@media (min-width: 1440px) {
  .swiper {
    display: none; } }

.swiper-button-prev, .swiper-button-next {
  display: none; }

.swiper-scrollbar {
  display: none; }

.swiper-pagination-bullet {
  background: #B5B6BC;
  height: 12px;
  width: 12px; }

.swiper-slide {
  width: 224px; }

.swiper-slide--services {
  width: 260px; }

.swiper-slide--devices {
  font-family: "TT Lakes";
  width: 240px;
  height: 200px; }

.swiper-brands {
  height: 112px;
  padding-left: 16px; }

.swiper-slide {
  width: 224px; }
  .swiper-slide--services {
    width: 260px; }
  .swiper-slide--devices {
    font-family: "TT Lakes";
    width: 240px;
    height: 200px; }

@media (min-width: 0px) and (max-width: 767px) {
  .devices__item {
    height: 160px;
    width: 240px;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #EAEAEA;
    display: flex;
    justify-content: space-between;
    font-weight: medium; }
  .devices__title {
    display: block; } }

@media (min-width: 767px) and (max-width: 1439px) {
  .devices__item {
    height: 160px;
    width: 224px;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #EAEAEA;
    display: inline-flex;
    justify-content: space-between;
    font-weight: medium; }
  .devices__title {
    display: block; } }

@media (min-width: 1440px) {
  .devices__item {
    height: 160px;
    width: 240px;
    background: #fff;
    border-radius: 6px;
    border: 1px solid #EAEAEA;
    display: flex;
    justify-content: space-between;
    font-weight: medium; }
  .devices__title {
    display: block; } }

@media (min-width: 0px) and (max-width: 767px) {
  .devices-list {
    display: none; } }

@media (min-width: 767px) and (max-width: 1439px) {
  .devices-list {
    font-family: "TT Lakes";
    color: #1B1C21;
    display: flex;
    flex-direction: row;
    gap: 0 24px;
    overflow: hidden;
    height: 162px;
    flex-wrap: wrap; } }

@media (min-width: 1440px) {
  .devices-list {
    font-family: "TT Lakes";
    color: #1B1C21;
    display: flex;
    gap: 0 32px;
    overflow: hidden;
    height: 162px;
    flex-wrap: wrap; } }

.devices-content {
  padding: 16px;
  width: 100%; }

@media (min-width: 0px) and (max-width: 767px) {
  .swiper-devices {
    padding-left: 16px; }
    .swiper-devices::before {
      content: '';
      display: block;
      position: absolute;
      height: 170px;
      width: 24px;
      right: 0px;
      z-index: 2;
      background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%); }
    .swiper-devices::after {
      content: '';
      display: block;
      position: absolute;
      height: 170px;
      width: 24px;
      left: 0px;
      z-index: 2;
      background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%); } }

@media (min-width: 0px) and (max-width: 767px) {
  .services-header {
    width: 100%;
    padding: 16px;
    border-top: 1px solid #D9FFF5;
    background: linear-gradient(to right, #f8f8f8, #ffffff);
    font-family: 'TT Lakes'; }
    .services-header__title {
      font-size: 16px;
      line-height: 24px;
      color: #7E7E82;
      font-weight: 400;
      min-width: 288px; } }

@media (min-width: 767px) and (max-width: 1439px) {
  .services-header {
    width: 100%;
    padding: 16px 24px;
    border-top: 1px solid #D9FFF5;
    background: linear-gradient(to right, #f8f8f8, #ffffff);
    font-family: 'TT Lakes'; }
    .services-header__title {
      font-size: 16px;
      line-height: 24px;
      color: #7E7E82;
      font-weight: 400;
      width: 768px;
      justify-self: center;
      margin-left: 24px; } }

@media (min-width: 1440px) {
  .services-header {
    width: 100%;
    padding: 16px 24px;
    border-top: 1px solid #D9FFF5;
    background: linear-gradient(to right, #f8f8f8, #ffffff);
    font-family: 'TT Lakes'; }
    .services-header__title {
      font-size: 16px;
      line-height: 24px;
      color: #7E7E82;
      font-weight: 400;
      min-width: 288px; } }

@media (min-width: 0px) and (max-width: 767px) {
  .services-container {
    padding: 16px 0px;
    min-width: 0; } }

@media (min-width: 767px) and (max-width: 1439px) {
  .services-container {
    padding: 24px;
    width: 768px;
    display: flex;
    flex-direction: column;
    justify-self: center; } }

@media (min-width: 1440px) {
  .services-container {
    padding: 32px;
    width: 1120px;
    display: flex;
    flex-direction: column;
    justify-self: center; } }

@media (min-width: 0px) and (max-width: 767px) {
  .services-title {
    display: none; } }

@media (min-width: 767px) and (max-width: 1439px) {
  .services-title {
    display: grid;
    grid-template: 1fr/372px 102px 90px;
    font-family: "TT Lakes";
    color: #7E7E82;
    margin-bottom: 16px; } }

@media (min-width: 1440px) {
  .services-title {
    display: grid;
    grid-template: 1fr/372px 102px 90px;
    font-family: "TT Lakes";
    color: #7E7E82;
    margin-bottom: 16px; } }

.services-list__button {
  transition: 0.5s; }

.services-list__button:hover {
  opacity: 0.5;
  scale: 0.97; }

@media (min-width: 0px) and (max-width: 767px) {
  .services-list {
    display: none; }
    .services-list__item {
      height: 200px;
      width: 260px;
      background-color: #fff;
      border-radius: 6px;
      padding: 16px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      font-family: "TT Lakes";
      font-size: 14px; }
    .services-list__title-text {
      color: #7E7E82;
      padding-bottom: 4px; }
    .services-list__content-text {
      color: #1B1C21;
      line-height: 18px; }
    .services-list__time {
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .services-list__button {
      color: #FFFFFF;
      background: #FF3E79;
      font-size: 12px;
      padding: 4px;
      width: 119px;
      height: 32px;
      border-radius: 16px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-weight: bold; }
    .services-list__icon {
      height: 24px;
      width: 24px;
      background: #FF3E79;
      background: url(./static/dropdown.svg) no-repeat 50% 50%; } }

@media (min-width: 767px) and (max-width: 1439px) {
  .services-list {
    height: 322px;
    overflow: hidden;
    display: grid;
    grid-template: 1fr / 1fr;
    background-color: #fff;
    border-radius: 6px;
    padding: 0px 16px; }
    .services-list__item {
      width: 100%;
      padding: 16px 0px;
      display: grid;
      grid-template: 1fr/ 355px 102px 90px 1fr;
      font-family: "TT Lakes";
      font-size: 14px;
      align-items: center;
      border-bottom: 1px solid #EAEAEA; }
    .services-list__title-text {
      color: #7E7E82;
      padding-bottom: 4px; }
    .services-list__content-text {
      color: #1B1C21;
      line-height: 18px; }
    .services-list__time {
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .services-list__button {
      color: #FFFFFF;
      background: #FF3E79;
      font-size: 12px;
      padding: 4px;
      width: 119px;
      height: 32px;
      border-radius: 16px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-weight: bold;
      justify-self: end; }
    .services-list__icon {
      height: 24px;
      width: 24px;
      background: #FF3E79;
      background: url(./static/dropdown.svg) no-repeat 50% 50%; } }

@media (min-width: 1440px) {
  .services-list {
    height: 322px;
    overflow: hidden;
    display: grid;
    grid-template: 1fr / 1fr;
    background-color: #fff;
    border-radius: 6px;
    padding: 0px 16px; }
    .services-list__item {
      width: 100%;
      padding: 16px 0px;
      display: grid;
      grid-template: 1fr/ 355px 252px 90px 1fr;
      font-family: "TT Lakes";
      font-size: 14px;
      align-items: center;
      border-bottom: 1px solid #EAEAEA; }
    .services-list__title-text {
      color: #7E7E82;
      padding-bottom: 4px; }
    .services-list__content-text {
      color: #1B1C21;
      line-height: 18px; }
    .services-list__time {
      display: flex;
      align-items: center;
      justify-content: space-between; }
    .services-list__button {
      color: #FFFFFF;
      background: #FF3E79;
      font-size: 12px;
      padding: 4px;
      width: 119px;
      height: 32px;
      border-radius: 16px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-weight: bold;
      justify-self: end; }
    .services-list__icon {
      height: 24px;
      width: 24px;
      background: #FF3E79;
      background: url(./static/dropdown.svg) no-repeat 50% 50%; } }

@media (min-width: 0px) and (max-width: 767px) {
  .swiper-services {
    height: 240px;
    padding-left: 16px; }
    .swiper-services::before {
      content: '';
      display: block;
      position: absolute;
      height: 220px;
      width: 24px;
      top: -5px;
      right: 0;
      z-index: 2;
      background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%); }
    .swiper-services::after {
      content: '';
      display: block;
      position: absolute;
      height: 220px;
      width: 24px;
      top: -5px;
      transform: rotate(180deg);
      left: 0;
      z-index: 2;
      background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%); } }

@media (min-width: 767px) and (max-width: 1439px) {
  .desc-wrapper {
    width: 768px;
    justify-self: center; } }

@media (min-width: 1440px) {
  .desc-wrapper {
    width: 1120px;
    justify-self: center; } }

.services-desc__link {
  transition: 0.5s; }

.services-desc__link:hover {
  opacity: 0.5;
  scale: 0.97; }

@media (min-width: 0px) and (max-width: 767px) {
  .services-desc {
    font-family: "TT Lakes";
    font-size: 14px;
    color: #1B1C21;
    padding: 0px 16px;
    margin-bottom: 40px; }
    .services-desc__text {
      margin-bottom: 16px;
      line-height: 20px; }
    .services-desc__link {
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      display: inline-flex;
      align-items: center; }
    .services-desc__icon {
      display: inline;
      background: url(./static/rightArrow.svg) no-repeat 50% 50%;
      width: 20px;
      height: 20px; } }

@media (min-width: 767px) and (max-width: 1439px) {
  .services-desc {
    font-family: "TT Lakes";
    font-size: 14px;
    color: #1B1C21;
    padding: 0px 16px;
    margin-bottom: 40px;
    justify-self: start; }
    .services-desc__text {
      margin-bottom: 16px;
      line-height: 20px;
      width: 420px; }
    .services-desc__link {
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      display: inline-flex;
      align-items: center; }
    .services-desc__icon {
      display: inline;
      background: url(./static/rightArrow.svg) no-repeat 50% 50%;
      width: 20px;
      height: 20px; } }

@media (min-width: 1440px) {
  .services-desc {
    font-family: "TT Lakes";
    font-size: 14px;
    color: #1B1C21;
    padding: 0px 16px;
    margin-bottom: 40px;
    justify-self: start; }
    .services-desc__text {
      margin-bottom: 16px;
      line-height: 20px;
      width: 420px; }
    .services-desc__link {
      font-weight: bold;
      font-size: 16px;
      line-height: 24px;
      display: inline-flex;
      align-items: center; }
    .services-desc__icon {
      display: inline;
      background: url(./static/rightArrow.svg) no-repeat 50% 50%;
      width: 20px;
      height: 20px; } }

@media (min-width: 0px) and (max-width: 767px) {
  .footer {
    height: 129px;
    border-top: 1px solid #D9FFF5;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap; }
    .footer__item {
      align-items: center;
      display: flex;
      flex-direction: column;
      font-family: "TT Lakes";
      color: #7E7E82;
      font-size: 14px;
      line-height: 16px;
      margin-bottom: 16px;
      text-align: center; } }

@media (min-width: 767px) and (max-width: 1439px) {
  .footer {
    height: 129px;
    width: 768px;
    border-top: 1px solid #D9FFF5;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    justify-self: center; }
    .footer__item {
      align-items: center;
      display: flex;
      flex-direction: column;
      font-family: "TT Lakes";
      color: #7E7E82;
      font-size: 14px;
      line-height: 16px;
      width: 213px; }
    .footer__item--first {
      align-items: start;
      text-wrap: nowrap; }
    .footer__item--last {
      text-align: end; } }

@media (min-width: 1440px) {
  .footer {
    height: 129px;
    width: 1120px;
    border-top: 1px solid #D9FFF5;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    justify-self: center; }
    .footer__item {
      align-items: center;
      display: flex;
      flex-direction: column;
      font-family: "TT Lakes";
      color: #7E7E82;
      font-size: 14px;
      line-height: 16px;
      width: 333px;
      text-align: start; }
    .footer__item--first {
      align-items: start;
      text-wrap: nowrap; }
    .footer__item--last {
      text-align: end; } }


/*# sourceMappingURL=style.css.map*/