.devices-list {
  @media (min-width:0px) and (max-width:767px) {
    display: none;
  }

  @media (min-width:767px) and (max-width:1439px) {
    font-family: "TT lakes";
    color: $main-text;
    display: flex;
    flex-direction: row;
    gap: 0 24px;
    overflow: hidden;
    height: 162px;
    flex-wrap: wrap;
  }

  @media (min-width:1440px) {
    font-family: "TT lakes";
    color: $main-text;
    display: flex;
    gap: 0 32px;
    overflow: hidden;
    height: 162px;
    flex-wrap: wrap;
  }
}