.feedback-form {
  &__item {
    height: 48px;
    gap: 16px;
    width: 100%;
    border: 1px solid #EAEAEA;
    border-radius: 8px;
    display: flex;
    justify-content: start;
    align-items: start;
    padding: 12px 16px;
    position: relative;
    text-wrap: wrap;
  }

  &__item::placeholder {
    position: absolute;
    top: 12px;
    left: 16px;
    color: #B5B6BC;
    font-weight: 400;
    line-height: 24px;
  }

  &__item--message {
    height: 118px;
  }

  &__desc {
    line-height: 16px;
    font-size: 14px;
    font-weight: 500;
    color: $hover-text;
  }

  &__link {
    color: $icons;
  }
}