.services-list {

  &__button {
    transition: 0.5s;
  }

  &__button:hover {
    opacity: 0.5;
    scale: 0.97;
  }

  @media (min-width:0px) and (max-width:767px) {
    display: none;

    &__item {
      height: 200px;
      width: 260px;
      background-color: #fff;
      border-radius: 6px;
      padding: 16px;
      display: flex;
      flex-direction: column;
      gap: 16px;
      font-family: "TT Lakes";
      font-size: 14px;
    }

    &__title-text {
      color: $hover-text;
      padding-bottom: 4px;
    }

    &__content-text {
      color: $main-text;
      line-height: 18px;
    }

    &__time {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__button {
      color: #FFFFFF;
      background: $icons;
      font-size: 12px;
      padding: 4px;
      width: 119px;
      height: 32px;
      border-radius: 16px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-weight: 600;
    }

    &__icon {
      height: 24px;
      width: 24px;
      background: $icons;
      background: url(../img/icon/dropdown.svg) no-repeat 50% 50%;
    }
  }

  @media (min-width:767px) and (max-width:1439px) {
    height: 322px;
    overflow: hidden;
    display: grid;
    grid-template: 1fr / 1fr;
    background-color: #fff;
    border-radius: 6px;
    padding: 0px 16px;

    &__item {
      width: 100%;
      padding: 16px 0px;
      display: grid;
      grid-template: 1fr/ 355px 102px 90px 1fr;
      font-family: "TT Lakes";
      font-size: 14px;
      align-items: center;
      border-bottom: 1px solid $decor;
    }

    &__title-text {
      color: $hover-text;
      padding-bottom: 4px;
    }

    &__content-text {
      color: $main-text;
      line-height: 18px;
    }

    &__time {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__button {
      color: #FFFFFF;
      background: $icons;
      font-size: 12px;
      padding: 4px;
      width: 119px;
      height: 32px;
      border-radius: 16px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-weight: 600;
      justify-self: end;
    }

    &__icon {
      height: 24px;
      width: 24px;
      background: $icons;
      background: url(../img/icon/dropdown.svg) no-repeat 50% 50%;
    }
  }

  @media (min-width:1440px) {
    height: 322px;
    overflow: hidden;
    display: grid;
    grid-template: 1fr / 1fr;
    background-color: #fff;
    border-radius: 6px;
    padding: 0px 16px;

    &__item {
      width: 100%;
      padding: 16px 0px;
      display: grid;
      grid-template: 1fr/ 355px 252px 90px 1fr;
      font-family: "TT Lakes";
      font-size: 14px;
      align-items: center;
      border-bottom: 1px solid#EAEAEA;
    }

    &__title-text {
      color: $hover-text;
      padding-bottom: 4px;
    }

    &__content-text {
      color: $main-text;
      line-height: 18px;
    }

    &__time {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__button {
      color: #FFFFFF;
      background: $icons;
      font-size: 12px;
      padding: 4px;
      width: 119px;
      height: 32px;
      border-radius: 16px;
      display: flex;
      align-items: center;
      justify-content: space-around;
      font-weight: 600;
      justify-self: end;
    }

    &__icon {
      height: 24px;
      width: 24px;
      background: $icons;
      background: url(../img/icon/dropdown.svg) no-repeat 50% 50%;
    }
  }
}