.side-bar {
  display: block;
  width: 320px;
  position: absolute;
  z-index: 2;
  background-color: #ffffff;

  @media (min-width: 0px) and (max-width: 767px) {
    box-shadow: none;
    height: 100vh;
    left: -360px;
    box-shadow: 5px 0 30px 0 #1b1c215f;
    transition: 1s;
    position: fixed;
    z-index: 1000;
  }

  @media (min-width: 767px) and (max-width: 1439px) {
    position: fixed;
    box-shadow: none;
    height: 100vh;
    left: -360px;
    box-shadow: 5px 0 30px 0 #1b1c215f;
    transition: all 1s;
    
  }

  @media (min-width: 1440px) {
    box-shadow: none;
    min-height: 100%;
    left: 0px;
    position: absolute;
    z-index: 1000;
  }
}
